.app {
  padding-bottom: 600px;
  height: 100vh;
}

h1 {
  font-size: 1.5rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(18, 15, 49);
  padding: 15px;
  color: white;
}

.cart {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cart > button {
  padding: 5px;
  background-color: transparent;
  color: white;
  border: none;
}

.product-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


.product-container {
  display: flex;
  justify-content: center;
  gap:2rem;
  flex-wrap: wrap;
  height: 500px;
  padding: 50px;
  margin-bottom: 200px;
}

.product-item {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 2px 2px 17px 0px rgba(0,0,0,0.75);
  padding: 20px;
  height: auto;
  width: 250px;
}

.product-image-container {
  height: 30%;
  width: 100%;
  display: flex;
  overflow: hidden; 
}

.product-image-container > img {
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.product-image-container > img:hover {
  transform: scale(1.2); /* Increase the scale on hover (adjust as needed) */
}

.product-buttons {
  display: flex;
  margin-top: auto;
  gap: 0.5rem;
}

.product-buttons button {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: solid 1px rgba(0, 0, 0, 0.202);
  font-weight: bold;
}

.product-buttons button:nth-child(1) {
  background-image: linear-gradient(-180deg, #6ed45f, #1dc54f);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  border: 0;
}

.product-buttons button:nth-child(2) {
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  border: 0;
}

.search-box > input {
  padding: 10px;
}

/* cart styles */

.cart-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2rem;
  margin-top: 20px;
}

.cart-header {
  font-size: 2rem;
  font-weight: bold;
}

.cart-page-container {
  display: flex;
}

.cart-info-container {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  gap:1rem;
}

.cart-item > img {
  width: 30%;
}

.cart-details {
  display: flex;
  flex-direction: column;
}

.cart-price-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

